@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 45% 92%;
    --foreground: 26 28% 21%;
    --card: 46 45% 96%;
    --card-foreground: 26 28% 21%;
    --popover: 46 45% 96%;
    --popover-foreground: 26 28% 21%;
    --primary: 83 36% 62%;
    --primary-foreground: 26 28% 21%;
    --secondary: 30 29% 56%;
    --secondary-foreground: 26 28% 21%;
    --muted: 75 40% 79%;
    --muted-foreground: 75 30% 30%;
    --accent: 75 40% 79%;
    --accent-foreground: 26 28% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 38 23% 76%;
    --input: 38 23% 76%;
    --ring: 83 36% 62%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 25 24% 15%;
    --foreground: 47 39% 87%;
    --card: 26 23% 19%;
    --card-foreground: 47 39% 87%;
    --popover: 26 23% 19%;
    --popover-foreground: 47 39% 87%;
    --primary: 83 36% 62%;
    --primary-foreground: 83 27% 13%;
    --secondary: 30 29% 56%;
    --secondary-foreground: 30 30% 10%;
    --muted: 35 19% 27%;
    --muted-foreground: 38 23% 76%;
    --accent: 35 19% 27%;
    --accent-foreground: 47 39% 87%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 19% 27%;
    --input: 35 19% 27%;
    --ring: 83 36% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.mobile-container {
  @apply mx-auto max-w-md min-h-screen bg-background shadow-xl flex flex-col relative;
}